{% extends "squelette.html" %}

{% block main %}
<h2 class="my-4">Acte 1 - Débarquement en Eurakia</h2>
<div class="alert alert-light" role="alert">
	Pendant cet arc, le groupe sera confronté à
	<a href="/pnj/alexasse-dubrien.html">Alexasse Dubrien</a>,
	D'Anjayni en fuite cherchant à échapper à Samaël. Il a été repéré par
	<a href="/pnj/rondo-darsa.html">Rondo Darsa</a>
	grace à d'anciens liens avec Samaël et pour sa capacité à leur échapper. Il
	semble être le candidat idéal pour orchestrer la déstabilisation de l'Eurakia
</div>

<article>
	{% block article %}
	{% endblock%}
</article>
{% endblock %}
