{% extends "acte-1/acte-1.html" %}

{% block article %}
<p>
	Voici la liste des aventures que les joueurs vont avoir à faire :
</p>

<ul style="list-style: none;">
	<li>
		<a href="/acte-1/introduction.html">Introduction</a>
	</li>
	<li>
		<a href="/acte-1/aventure-1.html">L'Université de Veratis et ses artefacts</a>
	</li>
	<li>
		<a href="/acte-1/aventure-2.html">De La Fausse Monnaie dérègle le casino de Port Dux</a>
	</li>
	<!--
	<li>
		<a href="/acte-1/aventure-3.html">...</a>
	</li>
	<li>
		<a href="/acte-1/aventure-4.html">...</a>
	</li>
	<li>
		<a href="/acte-1/aventure-5.html">...</a>
	</li>
	<li>
		<a href="/acte-1/conclusion.html">Conclusion</a>
	</li>
	-->
</ul>
{% endblock %}
