
<!doctype html>
<html lang="fr">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta property="og:title" content="Site de campagne" />
    <meta property="og:description" content="Site de campagne Anima, Beyond Fantasy" />

	<meta name="description" content="Site de campagne Anima, Beyond Fantasy" />
    <meta name="keywords" content="Anima, Beyond Fantasy, RGP, JDR, Campagne, Campain" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />

	<!-- CSS Only -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />

	<!-- Leaflet -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

    <title>Spigushe — Campagne Anima</title>
</head>

<body>
	<!-- Header -->
	<header role="banner">
        <a href="{{ link('') }}" class="site-logo">
            <img src="{{ url_for('static', filename='img/anima.png') }}" alt="Anima: Beyond Fantasy">
            <h1>Campagne Anima: Beyond Fantasy</h1>
        </a>
        <nav role="navigation">
            <ul>
                <li>{{ link('/acte-1') }}</li>
                <li>{{ link('/acte-2') }}</li>
                <li>{{ link('/acte-3') }}</li>
                <li>{{ link('/ressources') }}</li>
            </ul>
        </nav>
    </header>

	{% block article %}
    <article>
        {% block content %}{% endblock %}
    </article>
    {% endblock %}

	<footer>
        {% block footer %}
        <nav role="navigation">
            {{ prev() }}
            {{ top() }}
            {{ next() }}
        </nav>
        {% endblock %}
    </footer>
</body>
{% block script %}{% endblock %}
</html>
